body {
    font-family: 'Open Sans';
}

.sensorBlock{    
    margin: 25px;
}

.title{
    text-align: center;
    font-size: 40px;
}

.sensorTitle {
    font-size: 30px;
    margin-left: 40px;
    margin-right: 50px;
    width: 125px;
    display: inline-block;
    vertical-align: middle;
}

.mainContainer {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.display {
    width: 40px;
    height: 40px;
    margin-left: 50px;
    display: inline-block;
    vertical-align: middle;
    background-color: gray;
    border-radius: 5px;
}